%p#notice= notice

.container
	%h1 RabinLovesHisCrush
	%p Log in as:
	.buttons
		= link_to 'Rabin', rabin_path, class: 'btn rabin button'
		= link_to "Rabin's Crush", crush_path, class: 'btn crush button'